In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv("/Users/omar.elkhawass/Desktop/CC_Data.csv")
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,Default
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [3]:
df.isna().sum().sum()

0

In [4]:
X = df.values[:, 0:23]
Y = df.values[:, 23]
X_train, X_test, Y_train, Y_test, = train_test_split(X, Y, test_size = 0.3)

In [8]:
KNN_3 = KNeighborsClassifier(n_neighbors = 3)    
KNN_3.fit(X_train, Y_train)    
KNN_3.score(X_test, Y_test)

0.7295555555555555

In [10]:
# Loop to test other k values using both uniform and distance weights to find the most accurate method

for K in range(25):
    K_Value = K + 1 
    KNN_Uniform = KNeighborsClassifier(n_neighbors = K_Value, weights = 'uniform')
    KNN_Uniform.fit(X_train, Y_train)
    Score_Uniform = KNN_Uniform.score(X_test, Y_test)
    
    KNN_Distance = KNeighborsClassifier(n_neighbors = K_Value, weights = 'distance')
    KNN_Distance.fit(X_train, Y_train)
    Score_Distance = KNN_Distance.score(X_test, Y_test)
    
    print("Uniform accuracy is", round(Score_Uniform*100),"%, Distance Accuracy is", round(Score_Distance*100),"% for K-Value of", K_Value)

Uniform accuracy is 69 %, Distance Accuracy is 69 % for K-Value of 1
Uniform accuracy is 76 %, Distance Accuracy is 69 % for K-Value of 2
Uniform accuracy is 73 %, Distance Accuracy is 73 % for K-Value of 3
Uniform accuracy is 76 %, Distance Accuracy is 73 % for K-Value of 4
Uniform accuracy is 75 %, Distance Accuracy is 75 % for K-Value of 5
Uniform accuracy is 76 %, Distance Accuracy is 75 % for K-Value of 6
Uniform accuracy is 76 %, Distance Accuracy is 75 % for K-Value of 7
Uniform accuracy is 77 %, Distance Accuracy is 76 % for K-Value of 8
Uniform accuracy is 76 %, Distance Accuracy is 76 % for K-Value of 9
Uniform accuracy is 77 %, Distance Accuracy is 76 % for K-Value of 10
Uniform accuracy is 77 %, Distance Accuracy is 76 % for K-Value of 11
Uniform accuracy is 77 %, Distance Accuracy is 76 % for K-Value of 12
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 13
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 14
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 15
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 16
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 17
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 18
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 19
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 20
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 21
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 22
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 23
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 24
Uniform accuracy is 77 %, Distance Accuracy is 77 % for K-Value of 25

In [12]:
# The smallest K-value providing the highest accuracy is K=8
# I would like to achieve at least 80% accuracy, will attempt with Decision Tree instead

DT = DecisionTreeClassifier()
DT.fit(X_train, Y_train)
DT.score(X_test, Y_test)

0.732

In [13]:
# Let's try a Random Forest instead

RF = RandomForestClassifier(n_estimators = 50, max_depth = 10)
RF.fit(X_train, Y_train)
RF.score(X_test, Y_test)

0.8164444444444444

In [ ]:
# Now we have a model that predicts the likelihood of default with 81.64% accuracy!